<%- include("./partials/header") %>
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        style="border-radius: 15px"
        src="/images/pen.webp"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3 head">
        Discover Ideas. Write Freely.
      </h1>
      <p class="lead sub">
        Ready to share your thoughts? Start writing or explore what others have
        posted.
      </p>
    </div>
  </div>
</div>

<div class="row m-5">
  <h2 class="pb-2 head">Trendy blogs...</h2>
  <div class="col-md-6">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Tech</strong>
        <h3 class="mb-0 head">Digital Drift</h3>
        <div class="mb-1 text-body-secondary">July 12</div>
        <p class="card-text mb-auto sub">
          At Digital Drift, we break down the latest trends in technology,
          coding, AI, gadgets, and the digital world around us...
        </p>
        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi" aria-hidden="true">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img
          src="/images/tech.jpeg"
          alt="Thumbnail"
          width="200"
          height="250"
          class="bd-placeholder-img"
          style="object-fit: cover"
        />
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis"
          >Travel</strong
        >
        <h3 class="mb-0 head">Passport Pages</h3>
        <div class="mb-1 text-body-secondary">July 21</div>
        <p class="mb-auto sub">
          From quiet mountain villages to bustling city streets, Wanderlog is a
          collection of real moments, and traveler insights from around the
          globe...
        </p>
        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi" aria-hidden="true">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img
          src="/images/travel.jpg"
          alt="Thumbnail"
          width="200"
          height="250"
          class="bd-placeholder-img"
          style="object-fit: cover"
        />
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <div class="col-auto d-none d-lg-block">
      <img
        src="/images/image (11).png"
        alt="Thumbnail"
        width="200"
        height="120"
        class="bd-placeholder-img"
        style="object-fit: fit; border-radius: 70%"
      />
    </div>
    <h1 class=" head">It started with a simple thought:</h1>
    <p class="col-lg-8 mx-auto fs-5 sub">
      What if anyone could share their voice freely — without needing to be a
      designer, a coder, or an influencer? I built this platform to turn that
      idea into reality. A space where writing is effortless, stories are
      valued, and everyone has a place to be heard. This isn’t just a website —
      it’s a home for thinkers, creators, and quiet minds with something to say.
      From late-night thoughts to bold ideas, your voice belongs here.
    </p>
  </div>
</div>

<%- include("./partials/footer") %>
